# Laravel backend
vendor/
node_modules/
public/storage
storage/*.key
storage/app/public
storage/framework/*
storage/logs/*
bootstrap/cache/*

# Laravel env file
.env

# SQLite / local DB files (if used)
database/*.sqlite

# OS/Editor specific
.DS_Store
Thumbs.db
*.swp
*.swo
*.bak
*.tmp

# Composer PHAR (if downloaded locally)
composer.phar

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDEs
.vscode/
.idea/

# Docker (optional - if using volumes, etc.)
*.pid
docker-compose.override.yml

/public/build

